@charset "UTF-8";

/* Dispositivo em pé(portrait)*/

body {
    background-image: url(../imagens/cev-portrait.jpg);
    background-position: center bottom; /* configurando apenas a posição quando estiver em retrato */
}

p > span#portrait-orientation {
    display: inline-block;
}