@charset "UTF-8";

/* Configurações gerais do projeto */

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw; /* largura de toda tela */
    height: 100vh; /* altura de toda a tela */
    background-color: #233eff;
    background-size: contain; /* coloca a imagem de fundo definido em paisagem e retrato.css */
    background-repeat: no-repeat;
}

h1 {
    color: white;
    text-shadow: 2px 2px #0c1455; /* sombrea no texto*/
    padding: 10px;
}